*{
    color: #555555;
}
body{
    background: radial-gradient(circle at 100%, #ffeaff, #fef8fe,#fef8fe);
    background-repeat: no-repeat;
}

b{color: orange;}

.menu{
    color: #555555 !important;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.btn{color: #333;}

.video{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

video{border: #fef8fe 4px solid;}

.resul {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    text-align: center;
}

.vantagens{
    text-align: center;
}

.info{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.if{margin:3px;padding: 10px;
     border-left: 2px solid #fe8266;color: #333; background-color: white;
    }

.func{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.panel img{
    width: 100%;
}

.devu h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer{
    margin-top: 1rem;
    background-color: white;
    color: #0f0053 !important;
    border-bottom: 12px solid #555;
    border-radius:3px 3px 0px 0px;
}

.footer .col-md-4{
    margin-top: 1rem;
    color: #333 !important;
    margin-bottom: 1rem;
    font-size: 14px;
    text-align: left;
    padding-left:30px ;
}

.footer .col-md-4 h5{
    color: #ff4f56 !important;
}
.footer .col-md-4 small{
    color: #000 !important;
}

.footer .col-md-4 a{
    color: #000 !important;
    text-decoration: none;
}

.copy{
    color: #000;
    font-size: 12px;
    padding: 5px;
}

@media (max-width: 420px)
{
*{text-align:center !important;}

video {
    max-width: 340px;
    margin-bottom: 1rem;
}

.on{
    display: block;
}

.off {
    display: none;
}

.logo{
    margin-bottom: 10px;
}

.menu a {
    width: 100%;
    color: #555555 !important;
}


}